.top-menu__nav-list {
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
}
.top-menu__nav-item {
    display: inline-block;
    }
    
.top-menu__nav-item a {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #ff0000;
    text-decoration: none;
    margin: 35px ;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    }

.picture {
    background-image: url(../img/image1.jpg);
     /* width: 1280px; */
    height: 789px; 
    background-repeat: no-repeat;
    background-size:100%, cover;
}

.title {
    margin: 48px 253px 38px 253px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.text-first {
    text-align: center;     
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;            
    letter-spacing: 2.4px;
    color: #373737;
}

.text-second {
    margin-top: 28px;
    margin-bottom: 66px;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}
.button {
    margin-left: 545px;
    background-color: #FF0000;
    border-radius: 4px;
    color: #ffffff;
    text-decoration-line: none;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    width: 191px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items:center;

}
.footer-text {
    margin: 40px 105px 29px 713px;
    color: #373737;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right; 
}